<div class="example-container text-center">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Customer Type">
        <mat-option value="option">Individual</mat-option>
        <mat-option value="option">Industrial</mat-option>
        <mat-option value="option">Government</mat-option>
        <mat-option value="option">Public Company</mat-option>
      </mat-select>
    </mat-form-field>
  </div>